services:
  postgres:
    image: postgres:18
    container_name: auth-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth
    ports:
      - "5432:5432"
    volumes:
      - auth_pgdata:/var/lib/postgresql/data
    networks:
      - microservices

  auth:
    build: .
    container_name: auth-service
    env_file:
      - .env
    environment:
      NODE_ENV: development
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: auth
      KAFKA_BROKERS: kafka:9092
      REDIS_HOST: redis
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - microservices
    volumes:
      - ./:/usr/src/app
    command: npm run start:dev

networks:
  microservices:
    external: true

volumes:
  auth_pgdata:
